# JWT_SECRET=               # Mandatory for user creation, login, and token generation, can be whatever you like, must be PRIVATE and not SHOWN TO ANYONE
# 
# HOST=localhost            # wich ip data will be served (might need to change on some system)
# PORT=3000                 # Port that API will use to foward data
# 
# DB_HOST=localhost         # Database IP adress
# DB_LOGIN=root             # Database              Must contain privileges to read and create
# DB_PASSWD=                # Database Password
# DB_NAME=winget_serv       # Database Name,        Default from --init=true
# DB_PORT=3306              # PORT for database     MariaDB's Default
